.Title {
  text-align: left;
}
.card {
  text-align: left;
}
.PlayerName {
  margin: 10px;
}
.Date {
  margin: 10px;
}
.Reason {
  margin: 10px;
}
.myContainer {
  float: left;
  width: 55%;
}
.home {
  width: max-content;
}
@media(max-width: 500px){
  .report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.admin-button-group {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}