* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 90%;
  margin: auto;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 10px;
}

.podium {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 40px solid #5bc0de;
  align-items: flex-end;
}

.podium2 {
  background-color: #98b1c3;
  width: 15vw;
  max-width: 200px;
  height: 15vh; 
  max-height: 200px
}

.podium1 {
  background-color: #dfbb00;
  width: 15vw;
  max-width: 200px;
  height: 25vh;
  max-height: 300px;
}

.podium3 {
  background-color: #d46737;
  width: 15vw;
  max-width: 200px;
  height: 10vh;
  max-height: 100px;
}
.player {
  text-align: center;
  margin: auto;
  border-style: none !important;
}

.card-body {
  padding: 0;
}
.restPlayers {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.buttonSet {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.playAgain,
.leave {
  width: 100%;
  margin: 0 10px;
}

.playerGameInfo {
  text-align: center;
}
