.game-page {
  display: flex;
  flex-direction: column;
}

.game-contents {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.canvas-container {
  height: 90%;
  width: 50%;
  max-width: 1200px;
}

.chat-container {
  height: 90%;
  width: 25%;
  max-width: 400px;
  margin: 0px 10px;
}

.players-container {
  height: 90%;
  width: 15%;
  margin: 0px 10px;
  overflow-y: auto;
  max-width: 230px;
}

.game-page .leave-lobby-btn{
  margin: 10px auto 10px 10px;
}