.game-lobby-page {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-lobby-content {
  text-align: start;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 90%;
  margin: auto;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 10px;
}

.settings {
  width: 50%;
  padding-right: 30px;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
}

.players {
  width: 50%;
  padding: 40px;
}

.player-container {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
}

.player-pfp {
  width: 80px;
  margin: auto;
}

.settings-form {
  padding: 10px;
  margin-bottom: auto;
  min-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.start-game-btn {
  margin-top: 10px;
  margin-left: 10px;
  width: max-content;
}

.leave-lobby-btn {
  margin-top: 10px;
  margin-left: auto;
  width: max-content;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.kickButton {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0 !important;
  border-radius: 50% !important;
}
