.page {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  text-align: start;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 90%;
  margin:auto;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 10px;
}

.settings {
  width: 50%;
  padding: 40px;
  border-right: 1px solid;
}

.players {
  width: 50%;
  padding: 40px;
}

.player-container {
  width: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.player-pfp {
  width: 80px;
  margin: auto;
}