.page {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 90%;
  margin:auto;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 10px;
}

.button-group {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  padding: 20px 0px;
  text-align: start;
}

.profile-picture {
  Width: 10%;
  margin: 0px auto;
}


