* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.internal-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.logo {
  width: 200px;
  border-radius: 50px;
}
.login-button {
  width: 300px;
}
.infoContainer {
  background-color: #ffedd2;
  text-align: left;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .container {
    height: 100vh;
  }
  .internal-container {
    height: 100vh;
  }
}
