.page {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.match-history-content {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  overflow: auto;
  margin:auto;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 10px;
}

.score-table {
  width: 85%;
  margin: auto;
}