.canvas-container {
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
}

#canvas {
  height: 80%;
  width: 100%;
}

.canvas-tool-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.color-options-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 70%;
  max-width: 70%;
  padding: 2px;
}

.color-option {
  position: relative;
  height: auto;
  cursor: pointer;
  margin: 2px;
  border: none;
}

.color-option:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.col-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
